/* App.css */
body {
  margin: 0;
 overflow-x: hidden;
}
  .background-container {
    height: 100vh;
    width:  100vw;
   margin-top: 50px;
   margin-bottom: 50px;
    background-image: url('/background1.png'); /* Path relative to the public folder */
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: flex-start; /* Align content to the left */
  
    position: relative;
    
  }
  
  .overlay-content {
    color: white;
    background-color: transparent; /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 500px; /* Restrict the width for better alignment */
    margin-left: 250px;
    align-items: center;
  }
  
  .heading {
    font-size: 63px;
    margin-bottom: 10px;
    font-family: semiBold, serif;
    align-items: center;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #24a5e5;
    border: none;
    border-radius: 25px;
    height: 45px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 30px;
    background-color: transparent; /* Default transparent background */
  border: 2px solid #75D0FE; /* Add border for visibility */
  }
  .cta-button:last-child {
    margin-right: 0; /* Ensures no extra margin on the last button */
  }
  
  .cta-button:hover {
    background-color: #24a5e5;
  }
  .primary-button {
    background-color: #24a5e5; /* Background only for the first button */
    border: none;
  }
  
  .primary-button:hover {
    background-color: #24a5e5;
  }

  /* Coming Soon Page */
.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f6f6;
  color: #333;
  text-align: center;
}

.coming-soon h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.coming-soon p {
  font-size: 1.2rem;
}
